<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BaoHanhEntities" connectionString="metadata=res://*/CSDL_BaoHanh.csdl|res://*/CSDL_BaoHanh.ssdl|res://*/CSDL_BaoHanh.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=BaoHanh;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>